<div class="hidden">
<div class="formContainer">
  <button class="leftCircle" name="star" id="star" form="search" type="button" onclick="starClicked()"><img src="../images/StarNew.svg" class="leftCircle"></button>
  <button id="constellation" name="constellation" form="search" type="button" onclick="constellationClicked()"><img src="../images/ConstellationIconNew.svg"></button>
  <form method="post"  action="/search/star" id="search">
    <input type="text" name="search" value="{{query}}"/>
  </form>
  <button class="rightCircle" id="telescope" type="submit" form="search"><img src="../images/TelescopeNew.svg" class="rightCircle" ></button>
</div>
{{{extra}}}
<div class="results">
  {{#each results}}
    <a href={{this.Url}}>
      <div class="searchResult">
        <h3>{{this.Title}}</h3>
        <p>{{this.Description}}</p>
      </div>
    </a>
  {{else}}
    <div class="searchResult">
      <h3>Sorry, no results found.</h3>
      <p>Perhaps try a less specific or search for something else.</p>
    </div>
  {{/each}}
</div>
</div>
<!-- INCLUDE SCRIPTS BELOW  -->
<script src="../javascripts/search.js"></script>
