<div class="hidden">
<div class="formContainer">
  <button class="leftCircle" id="back" onclick="backClicked()"><img src="../images/Back1.svg" class="leftCircle"></button>
  {{{top}}}
  <div class="rightCircle profileFill"></div>
</div>
{{{extra}}}
<div class="results">
  {{#each results}}
    <a href={{this.Url}}>
      <div class="searchResult">
        <h3>{{this.Title}}</h3>
        <p>{{this.Description}}</p>
      </div>
    </a>
  {{else}}
    <div class="searchResult">
      <h3>Sorry, no results found.</h3>
      <p>Perhaps try a less specific or search for something else.</p>
    </div>
  {{/each}}
</div></div>
<!-- INCLUDE SCRIPTS BELOW  -->
<script src="../javascripts/profileStuffs.js"></script>
